<%= content_tag_for :tr, event do %>
  <td>
    <% if event.ended_on.present? %>
      <%= event.started_on.to_s(:long) %> &mdash;
      <%= event.ended_on.to_s(:long) %>
    <% else %>
      <%= event.started_on.to_s(:long) %>
    <% end %>
  </td>

  <td>
    <h3><%= event.title %></h3>

    <%= markdown event.body %>
  </td>

  <% if can? :manage, event.timeline %>
    <td>
      <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-default' %>
      <%= link_to 'Delete', event, method: :delete, class: 'btn btn-danger' %>
    </td>
  <% end %>
<% end %>
