<%= content_for :title, "#{@timeline.title}: Eras"%>
<% if can? :manage, @timeline %>
  <%= content_for :toolbar do %>
    <%= link_to 'New era', new_timeline_era_path(@timeline), class: 'btn btn-default' %>
  <% end %>
<% end %>

<ul class="nav nav-tabs">
  <li role="presentation">
    <%= link_to 'Timeline', @timeline %>
  </li>
  <li role="presentation">
    <%= link_to 'Events', timeline_categories_path(@timeline) %>
  </li>
  <li role="presentation" class="active">
    <%= link_to 'Eras', timeline_eras_path(@timeline) %>
  </li>
</ul>

<h2>Eras</h2>

<%= paginate @eras %>

<%= render @eras %>

<%= paginate @eras %>
