<% content_for :title, @timeline.title %>
<% if can? :manage, @timeline %>
  <% content_for :toolbar do %>
    <%= link_to 'Edit', edit_timeline_path(@timeline), class: 'btn btn-default' %>
  <% end %>
<% end %>

<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <%= link_to 'Timeline', @timeline %>
  </li>
  <li role="presentation">
    <%= link_to 'Events', timeline_categories_path(@timeline) %>
  </li>
  <li role="presentation">
    <%= link_to 'Eras', timeline_eras_path(@timeline) %>
  </li>
</ul>

<% if @timeline.events.present? %>
  <div id="timeline" data-src="<%= timeline_path(@timeline, format: :json) %>">
  </div>
<% else %>
  <div class="jumbotron">
    <p>
      No events, yet. In order to display a timeline, please add some events.
    </p>
  </div>
<% end %>